/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #222;
  border-color: #e7e7e7;
  display: table;
}

.footer p {
  font-size: 1.5rem;
  /*font-family: cursive,serif;*/
  /* color: #5a544b; */
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
